
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    /* height: 100vh; */
    min-height:100vh;
    background-image: url(./person-front-computer-working-html.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    overflow:hidden;
    /* object-fit: fill; */
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:30px;
    padding:20px 100px ;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}

.logo{
    font-size:32px;
    color: #004277;
    text-decoration: none;
    font-weight: 700;
}

.nav-bar a {
    position: relative;
    font-size:18px;
    color: #df8b0d;
    text-decoration: none;
    margin-left: 30px;
}

.nav-bar a::before{
    content: '';
    position: absolute;
    left: 0;
    top:100%;
    width:0;
    height: 2px;
    background: #423668;
    transition:0.3s;
}

.nav-bar a:hover::before{
    width:100%;
}

.nav-bar a:active{
    color: #423668;
}
.nav-bar a:focus{
    color: #423668;
}
.content{
    position:absolute;
    margin-top:25%;
    margin-left: 10%;
}
p{
    font-weight: 800;
    font-size:24px;
    color: #df8b0d;
}

@media only screen and (max-width: 600px) {
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        margin: 10px 0;
    }
}